# Packed mod
*.qmod

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip
*.txt
extern/
Android.mk.backup
qpm.shared.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/3.23.1/CMakeCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.1/CMakeSystem.cmake
build/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
qpm_defines.cmake
extern.cmake
.vscode/settings.json
.vscode/settings.json
FingerSaber.log
FingerSaberParsed.log
mod.json
